FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=personnel_management
DB_USER=root
DB_PASSWORD=your-password

# Email Configuration
# Pour Gmail: smtp.gmail.com, port 587
# Pour Outlook: smtp-mail.outlook.com, port 587
# Pour Yahoo: smtp.mail.yahoo.com, port 587
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=dmsmariko@gmail.com
SMTP_PASSWORD=lulafswexoxflts
SMTP_FROM_EMAIL=dmsmariko@gmail.com
SMTP_FROM_NAME=Système de Gestion Personnel